<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Time Entries</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a routerLink="/time-entries/create" class="btn btn-sm btn-outline-secondary">Create</a>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Client</th>
      <th>Started at</th>
      <th>Ended at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of entries">
      <td>{{ entry.client?.name }}</td>
      <td>{{ entry.started_at | date:'medium' }}</td>
      <td>{{ entry.ended_at | date:'medium' }}</td>
      <td><a [routerLink]="['/time-entries/', entry._id]">Details</a></td>
    </tr>
  </tbody>
</table>
